{# base.html #}

{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>wss auth</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
  </head>
  <body>

{% block content %}

{% endblock %}

  </body>
</html>
