{# wss_auth_demo.html #}

{# demo of WebSocket authentication in django... #}

{% extends 'base.html' %}

{% load static %}

{% block title %}wss auth{% endblock %}

{% block content %}

<main style="margin-left: 10px;">

<h1>WebSocket Auth Demo</h1>

<form>
{% csrf_token %}
<input name="username" type="hidden" value="{{username}}" /> {# preserve username state... #}
</form>

{% if is_authenticated %}
   <h4>username={{username}}</h4>
<script>

{# Move this to your static assets folder for better performance #}
{# It is placed here for the moment for ease of review...        #}
{% include 'wss_auth.js' %}

// (c) 2024 Matthew Hopard
// This code is furnished under an MIT license
// (see LICENSE.txt for details)

const CSRF_MIDDLEWARE_TOKEN='{{csrf_token}}',
      USERNAME='{{username}}';

function status (message)
{var status_window=document.getElementById('status_window');

 status_window.readOnly=false;
 if (message===undefined)
    status_window.value='';

 else status_window.value+=message+'\n';

 status_window.readOnly=true;
} // function status (message)

function socket_opened ()
{console.log ('opened WebSocket...');
 status ();
} // function socket_opened ()

function socket_message (event)
{status (event.data);
} // function socket_message (event)

function socket_closed ()
{status ('closed WebSocket...');
}

function open_socket (status, response)
{
 if (status!==HTTP_OK)
    {alert (`Response failed: ${status}; ${response}`);
     return; // open_socket
    } // status!==HTTP_OK

 if (!(response!==null&&
       typeof(response)==='object'&&
       'ready' in response&&
       response.ready
      )
    )
    {var message=(response!==null&&typeof(response)==='object'&&'message' in response)
                 ?response.message
                 :'failed to open web socket';

     alert (message);
     return; // open_socket
    } // !('ready' in response&&response.ready))

 var parameters='username='+USERNAME+'&token='+response.token,
     // use the same WebSocket endpoint as the current web page...
     wss_url='wss://'+location.host+location.pathname+'?'+parameters,
     socket=new WebSocket(wss_url);

 socket.addEventListener ('open', socket_opened);
 socket.addEventListener ('message', socket_message);
 socket.addEventListener ('close', socket_closed);
} // function open_socket (status, response)

function get_token ()
{
 get_request ('{% url "token" %}?username='+USERNAME,
              open_socket, // chain to open_socket...
              {'csrfmiddlewaretoken': CSRF_MIDDLEWARE_TOKEN},
              'json'
             );
} // function get_token ()

/*
     Function calling sequence for the JavaScript chain:

     get_token (); // triggered by a button...
     open_socket (status, response);
     socket_opened ();
     socket_message (event);
     socket_message (event);
     socket_message (event);
     .
     .
     .
     socket_closed ();
*/

</script>

<button onclick="get_token ()"><strong>Open Socket</strong></button>
<p>
<textarea id="status_window"
          rows="12" cols="25" readonly
          type="overflow: hidden; overflow-y: auto;" {# vertical scroll only... #}
>
</textarea>
</p>

{% else %} {# not is_authenticated #}
<h4><strong>User &quot;{{username}}&quot; is not authenticated...</strong></h4>
{% endif %}

</main>
{% endblock %}
