{# login.html #}

{% extends 'base.html' %}

{% block content %}

<style>
{# Move this into a .css file in your static assets folder #}
{# for better performance, and link to it in base.html;    #}
{# it is placed here for the moment for ease of review...  #}

/* a little "Vanilla CSS"; you could use a sophisticated CSS framework */
/* (I like Fomantic/Semantic for its readability...)                   */

.row
{display: flex;
 padding-top: 5px;
 padding-bottom: 5px;
} /* .row */

.column
{flex: 50%;
} /* .column */

</style>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<script>
function auth_setup ()
{var username=document.querySelector('[name="username"]'),
     pw=document.querySelector('[name="password"]');

 if (username!==null&&username.value==='')
    username.focus ();

 else if (pw!==null)
         pw.focus ();
} // function auth_setup ()

document.addEventListener ('DOMContentLoaded', auth_setup);
</script>


<main class="mt-5 pt-4">
      <div class="container dark-grey-text mt-5">
           <div class="row wow fadeIn"> <!--Grid row-->
                <div class="col-md-6 mb-4"> <!--Grid column-->
                     <h2>Log In</h2>
                     <form id="login" method="post">
                           {% csrf_token %}
                           <input name="next" type="hidden" value="{{next}}" />
                           <div class="row">

                                     <div class="column">
                                          <label for="username">Username:</label>
                                     </div>
                                     <div class="column">
                                          <input id="username"
                                                 name="username"
                                                 type="text"
                                                 maxlength="63"
                                          />
                                     </div>

                           </div>
                           <div class="row">

                                     <div class="column">
                                          <label for="password">Password:</label>
                                     </div>
                                     <div class="column">
                                          <input id="password"
                                                 name="password"
                                                 type="password"
                                                 maxlength="63"
                                          />
                                     </div>

                           </div>
                           <div class="row">
                                     <div class="column">
                                     </div>
                                     <div class="column">
                                          <button type="submit"
                                                  class="btn btn-primary btn-lg"
                                                  style="float: right;"
                                          >
                                                  Log in
                                          </button>
<!--
                                          <p style="float: right;">
                                             <span> or </span>
                                             <a href="{% url 'signup' %}"> signup </a>
                                          </p>
-->
                                     </div>
                           </div>
                           <ul id="messages" class="messages">
   {% for message in messages %}
                               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                  {{ message }}
                               </li>
   {% endfor %} {# message #}
                           </ul>
                     </form>
                </div>
           </div>
      </div>
</main>
{% endblock %}
